<% if @album.errors.any? %>
    <div class="alert alert-danger" role="alert">
      Не удалось сохранить альбом:
      <ul>
        <% @album.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for [:admin, @album], remote: render_for == 'edit', :html => {class: 'form-horizontal album-form'} do |f| %>

    <div class="form-group">
        <div class = 'row'>
          <div class = 'col-md-3'>
            <div class = 'input-group'>
                <span class="input-group-addon" id="sizing-addon1">Альбом</span>
              <%= f.text_field :name, class: 'col-sm-7 form-control' %>
            </div>
          </div>
          <div class = 'col-sm-8'>
            <% cmd = render_for == 'edit' ? 'Изменить название' : 'Сохранить' %>
            <%= f.submit cmd , remote: true, class: 'btn btn-primary btn-large' %>
            <%= link_to 'Вернуться', admin_path, class: 'btn btn-primary' %>
            <% if render_for == 'edit' %>
                <%= link_to 'Удалить', [:admin, @album], method: :delete, class: 'btn btn-danger', data: { confirm: 'Точно?'} %>
            <% end %>
          </div>
        </div>
    </div>

<% end %>