<% content_for :assets do %>
    <%= stylesheet_link_tag 'fileinput' %>
    <%= javascript_include_tag 'fileinput' %>
    <%= javascript_include_tag 'Sortable' %>
<% end %>

<div class = 'container album-container'>
    <div class = 'row'>
      <div class = 'col-md-12'>
        <%= render partial: 'form', locals: {render_for: 'edit'} %>
        <div class="form-group">
          <input id = "photo" type="file" name = 'file' multiple="true">
        </div>
      </div>
    </div>

  <div class = "row" id = 'drag-parent'>
    <% @photos.each do |pic| %>
        <div class = "col-sm-3 photo-container" data-id = '<%= pic.id %>'>
          <div class="thumbnail photo" id = 'photo-<%= pic.id %>'>
            <img src="<%= pic.file.url(:small) %>" class = 'photo'>
            <div class="caption">
              <h4><%= pic.name %></h4>
              <p>
                <a class="btn btn-primary btn-sm" data-id = '<%= pic.id %>' role="button" data-toggle="modal" data-target="#myModal">Редактировать</a>
                <%= link_to 'Удалить', '', class: 'btn btn-danger btn-sm remove', data: { id: pic.id } %>
              </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <div>
    <a class="btn btn-primary save-order" role="button">Сохранить порядок следования фотографий</a>
  </div>

  <div class="modal fade large" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title" id="myModalLabel">Фотография</span>
          <button class = 'btn btn-primary btn-sm' id = 'make-cover'>Сделать обложкой альбома</button>
        </div>
        <div class="modal-body thumbnail">
        </div>
        <div class="modal-footer">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Название</span>
            <input class="form-control" id = 'new-name' type="text" value="">
            <span class="input-group-btn">
                <button class = 'btn btn-success' id = 'change-name' data-dismiss="modal">Сохранить</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var photos = [];
  var uploadUrl = '<%= admin_album_photos_path @album %>';
  var albumId = <%= @album.id %>;

    <% @photos.each do | photo | %>
      photos['<%= photo.id %>'] = [];
      photos['<%= photo.id %>']['name'] = '<%= photo.name %>';
      photos['<%= photo.id %>']['medium'] = '<%= image_tag(photo.file.url(:medium))%>';
    <% end %>
</script>