<div class='container admin-container login-container'>
  <h1>Регистрация</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-field">
        <span class="field-label">Email</span><br/>
        <%= f.email_field :email, class: 'form-control', autofocus: true %>
      </div>

      <div class="input-field">
        <span class="field-label">Ваше имя или псевдоним</span><br/>
        <%= f.text_field :nickname, class: 'form-control', autocomplete: "false" %>
      </div>

      <div class="input-field">
        <span class="field-label">Пароль (минимум 8 символов)</span> <br/>
        <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
      </div>

      <div class="input-field">
        <span class="field-label">Подтвердите пароль</span><br/>
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Завершить регистрацию", class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>