<%= content_for :meta do %>
    <meta property="og:url"         content="<%= request.original_url %>" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="<%= @article.title %>" />
    <meta property="og:description" content="" />
    <meta property="fb:app_id"      content="833150406780657" />
<% end %>

<div class = 'container'>
  <div class = 'link-to-news'>
      <%= link_to '/articles' do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
          Другие новости
      <% end %>
  </div>
    <%= render partial: 'article', locals: {article: @article} %>
</div>