<%= content_for :meta do %>
    <meta property="og:url"         content="<%= request.original_url %>" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="<%= @article.title %>" />
    <meta property="og:description" content="" />
    <meta property="fb:app_id"      content="833150406780657" />
<% end %>

<div class = 'container'>
    <div class = 'link link-to-news'>
      <%= link_to '/articles' do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
          Другие новости
      <% end %>
    </div>
    <div class = 'link'>
    <%= link_to controller: 'main', action: 'index' do %>
      <span class="glyphicon glyphicon-home"></span>
      На главную
    <% end %>
    </div>
  <div class = 'article'>
    <%= render partial: 'article', locals: {article: @article} %>
  </div>
</div>