<%= content_for :meta do %>
    <meta property="og:url"         content="<%= request.original_url %>" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="<%= @article.title %>" />
    <meta property="og:description" content="<%= @article.content %>" />
    <meta property="fb:app_id"      content="833150406780657" />
<% end %>

<div class = 'container'>
    <div class = 'link link-to-news'>
      <%= link_to articles_path section: @article.section do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
          Вернуться
      <% end %>
    </div>
    <div class = 'link'>
    <%= link_to controller: 'main', action: 'index' do %>
      <span class="glyphicon glyphicon-home"></span>
      На главную
    <% end %>
    </div>
  <% if user_signed_in? %>
      <%= link_to( edit_article_path(id: @article.id), {class: 'link-edit-event btn btn-warning btn-lg'}) do %>
          <span class="glyphicon glyphicon-edit"></span>
          Редактировать
      <% end %>
      <%= link_to( article_path(id: @article.id), {method: 'delete', data: { confirm: 'Точно?'}, class: 'link-edit-event btn btn-danger btn-lg'}) do %>
          <span class="glyphicon glyphicon-remove"></span>
          Удалить
      <% end %>
  <% end %>
  <div class = 'article'>
    <%= render partial: 'article', locals: {article: @article} %>
  </div>
</div>

<%= render partial: 'discussionModal' %>