<div class = 'container-fluid'>
  <div class = 'row'>
    <div class = 'col-md-8'>
      <div class="jumbotron admin-panel">
        <h2>
          Альбомы:
          <a class="btn btn-success" href="<%= new_admin_album_path %>" role="button">Добавить альбом</a>
        </h2>
        <div class = 'row'>
        <% @albums.each do | album | %>
              <div class = 'album col-md-4'>
                <%= link_to edit_admin_album_path album do %>
                    <%= render partial: 'gallery/albumCard', locals: {album: album} %>
                <% end %>
              </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class = 'col-md-4'>
      <div class="jumbotron admin-panel">
        <h2>Администрирование</h2>
        <p><a class="btn btn-primary btn-lg" href="<%= admin_sections_path %>" role="button">Редактировать секции сайта</a></p>
        <p><a class="btn btn-primary btn-lg" href="<%= new_admin_article_path %>" role="button">Добавить новость</a></p>
        <p><a class="btn btn-primary btn-lg" href="<%= admin_articles_path %>" role="button">Редактировать новости</a></p>
        <p><%= link_to('Выйти', destroy_user_session_path, method: 'delete', class: 'btn btn-primary btn-lg')  %></p>

        <!-- Yandex.Metrika informer -->
        <a href="https://metrika.yandex.ru/stat/?id=30930411&amp;from=informer"
           target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/30930411/3_0_ACB78EFF_ACB78EFF_0_pageviews"
                                               style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:30930411,lang:'ru'});return false}catch(e){}"/></a>
        <!-- /Yandex.Metrika informer -->
      </div>
    </div>
  </div>
</div>