<div class = 'container-fluid'>
  <div class = 'row'>
    <div class = 'col-md-8'>
      <div class="jumbotron">
        <h2>
          Альбомы:
          <a class="btn btn-success" href="<%= new_album_path %>" role="button">Добавить альбом</a>
        </h2>
        <div class = 'row'>
        <% @albums.each do | album | %>
            <div class = 'col-md-4'>
              <a href="<%= edit_album_path album %>">
                <div class = 'thumbnail'>
                <% image = album.photos.find_by_id(album.cover) || album.photos.first  %>
                <% image_url = image ? image.file.url(:medium) : image_path("missing-image.png")  %>
                <%= image_tag image_url %>
                  <div class = 'caption'>
                    <h4><%= album.name %></h4>
                  </div>
                </div>
              </a>
            </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class = 'col-md-4'>
      <div class="jumbotron">
        <h2>Администрирование</h2>
        <p><a class="btn btn-primary btn-lg" href="<%= sections_path %>" role="button">Редактировать секции сайта</a></p>
        <p><a class="btn btn-primary btn-lg" href="<%= new_article_path %>" role="button">Добавить новость</a></p>
        <p><a class="btn btn-primary btn-lg" href="<%= articles_path %>" role="button">Редактировать новости</a></p>
      </div>
    </div>
  </div>
</div>