<div class = "event panel panel-default">
  <div class = 'panel-heading'>
    <%= link_to event_path section: section, id: event.id do %>
        <h3 class = "event-title"><%= event.title %></h3>
    <% end %>
    <div class = 'event-date title'><%= event.created_at.to_s[0..10] %></div>
  </div>
  <div class = 'panel-body'>
    <div class = "event-text"><%= event.content.html_safe %></div>
    <hr/>
    <div class = 'social'>
      <div class="fb-like" data-href="<%= root_url + "#{section}/events/#{event.id}" %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
</div>