<%= content_for :meta do %>
    <meta property="og:url"         content="<%= request.original_url %>" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="<%= @event.title %>" />
    <meta property="og:description" content="" />
    <meta property="fb:app_id"      content="833150406780657" />
<% end %>

<div class="container events-container">
    <%= link_to events_path, :class => "link-to-events" do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        Вернуться
    <% end %>
  <% if user_signed_in? %>
      <%= link_to( edit_event_path(id: @event.id), {class: 'link-edit-event btn btn-warning btn-lg'}) do %>
          <span class="glyphicon glyphicon-edit"></span>
          Редактировать статью
      <% end %>
      <%= link_to( event_path(id: @event.id), {method: 'delete', data: { confirm: 'Точно?'}, class: 'link-edit-event btn btn-danger btn-lg'}) do %>
          <span class="glyphicon glyphicon-remove"></span>
          Удалить статью
      <% end %>
  <% end %>
    <%= render partial: 'event', locals: {event: @event, section: @section} %>
</div>