<% content_for :assets do %>
    <%= stylesheet_link_tag 'supersized' %>
    <%= stylesheet_link_tag 'supersized.shutter' %>
    <%= javascript_include_tag 'jquery.easing.min' %>
    <%= javascript_include_tag 'supersized' %>
    <%= javascript_include_tag 'supersized.shutter' %>
<% end %>

<%= content_for :meta do %>
    <meta property="og:url"         content="<%= request.original_url %>" />
    <meta property="og:description" content="Новые фотографии в разделе <%= @album.name %>" />
    <meta property="fb:app_id"      content="833150406780657" />
    <% if @album %>
        <% @album.photos.order(:sort).each do | photo | %>
            <meta property="og:image" content="<%= root_url + photo.file.url(:medium) %>" />
        <% end %>
    <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
    var slides = [
        <% if @album %>
            <% @album.photos.order(:sort).each do | photo | %>
            { image: '<%= photo.file.url %>', title: '<%= photo.name %>', thumb: '<%= photo.file.url :small %>', url: '' },
            <% end %>
        <% end %>
    ]
</script>

<div class = 'link gallery-go-back'>
  <%= link_to action: 'index' do %>
      <span class="glyphicon glyphicon-chevron-left"></span>
      Другие альбомы
  <% end %>
</div>

<div class = 'link gallery-go-index'>
  <%= link_to controller: 'main', action: 'index' do %>
      <span class="glyphicon glyphicon-home"></span>
      На главную
  <% end %>
</div>
<a class="link btn-discuss" role="button" data-messages="<%= @album.discussion.messages.count %>" data-id = '<%= @album.discussion.id %>' data-toggle="modal" data-target="#discussion-modal">Обсудить <span class="badge"><%= @album.discussion.messages.count %></span></a>
<div class="fb-like" data-href="<%= request.original_url %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

<div id="prevthumb"></div>
<div id="nextthumb"></div>

<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>

<div id="thumb-tray" class="load-item">
  <div id="thumb-back"></div>
  <div id="thumb-forward"></div>
</div>

<div id="controls-wrapper" class="load-item">
  <div id="controls">
    <div id="slidecounter">
      <span class="slidenumber"></span> / <span class="totalslides"></span>
    </div>
    <div id="slidecaption"></div>
    <a id="tray-button">Все фотографии <span class = 'glyphicon glyphicon-menu-hamburger'></span></a>

  </div>
</div>

<%= render partial: 'articles/discussionModal' %>