<!DOCTYPE html>
<html>
<head>
  <title>PhotoArt</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">

  <%= yield :meta %>

  <%= stylesheet_link_tag 'bootstrap-theme.min' %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag "application", params[:controller] %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= yield :assets %>


  <%= csrf_meta_tags %>
</head>
<body>
<div id = 'fb-root'></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '833150406780657',
            xfbml      : true,
            version    : 'v2.3'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<nav class="navbar navbar-inverse container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Всеволод Тоботрас</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <% @sections.each do | section | %>
                <li><a href = '<%=section.url%>'><%=section.name%></a></li>
            <% end %>
          <%= yield :controls %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? and controller.is_a? AdminController %>
            <li><%= link_to('Выйти', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
            <li><a href="/admin">Войти</a></li>
        <% end %>
      </ul>
    </div>
</nav>

<%= yield %>

</body>
</html>
